<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
{% block content %}
<br><br>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
{% for field in form %}
<div class="list-group text-center">
<div class="form-group">
 <label for=""><td>{{ field.label_tag }}</td></label>
  <td>{{ field }}</td>
</div>
{% endfor %}

<div>
  <input type="submit" class= "btn btn-success" value="create" />
</div>
</form>
<a href="{% url 
{% endblock %}
<div ng-app="myApp" ng-controller="myCtrl"> 
</div>
</div>
<center><a href="doclist">View</a></center>
